*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #ef9f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    padding: 20px;
    border-radius: 10px;
    background-color:#3a4452;
}
.calculator form input{
         border: 0;
         outline: 0;
         width: 60px;
         height: 60px;
         background: transparent;
         font-size: 20px;
         color: #fff;
         border-radius: 10px;
         cursor: pointer;
         margin: 10px;
         box-shadow: -3px -6px 16px gray ;
}

.calculator form .display{
    display: flex;
    justify-content: flex-end;
  

}

.calculator form .display input{
    flex: 1;
    box-shadow: none;
    text-align: right;
    font-size: 45px;
    font-weight: 800;

}

.calculator form .equal{
    width: 145px;
}